{% extends 'layouts/base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}

<div class="text-center mt-5">

    <h1 class="display-4">
        Sistema de Gestión de Inventario
    </h1>

    <p class="lead">
        Bienvenido al sistema desarrollado con Flask.
    </p>

    <hr>

    <div class="row mt-5">

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>📦 Productos</h4>

                    <p>Administración de productos.</p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>📂 Categorías</h4>

                    <p>Gestión de categorías.</p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>🚚 Proveedores</h4>

                    <p>Administración de proveedores.</p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}